#main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#main #heading {
    width: 100%;
    margin: 0;

    font-size: 2.3rem;
    color: navy;
    text-align: center;
}


#formDiv {
    width: 90%;
    padding: 2vw 0;

    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px gray;
}

.inputDiv {
    
    padding: 2vh 5vw;
    margin: 2px auto;

}

.inputDiv label {
    display: block;
    width: fit-content;
    margin-bottom: 8px;
    font-size: 1.25rem;
}

.inputDiv input {
    background-color: #f5f5eb;
    width: 90%;
    padding: 5px 6px;
    color: #888;

    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

#formDiv button {
    background-color: #4b4b80;
    display: block;
    width: 90%;

    padding: 2vh 0;
    margin: 3px auto 8px;

    color: white;
    font-size: 1.38rem;

    border: 1px solid #313159;
    border-radius: 10px;
}

@media (min-width: 992px) {
    #main {
        width: 60%;
    }
    .inputDiv input {
        width: 70%;
        text-indent: 6px;
        letter-spacing: 1px;
        margin-left: 5px;
    }
    #formDiv button {
        width: 70%;
        margin-top: 20px;
    }
}