@font-face {
  font-family: 'Josefin Sans';
  src: url('./assets/fonts/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans';
}

body {
  width: 100%;
  background-color: #f5f5e6;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

img {
  max-width: 100%;
}
