#userSummary {
    display: flex;
    flex-wrap: wrap;
    margin: 8px auto;

    border-bottom: 1px solid gray;
}

#userSummary > div {
    width: 50%;
    padding: 3vh;

    /* border: 1px solid red; */
    font-size: 1.35rem;
    text-align: center;
}

#userSummary > div:last-child {
    width: 100%;
    padding: 0 3vh 3vh 0;
    text-align: right;
}

#userSummary button {
    width: 50%;
}

#referralLinks {
    padding: 4vh 4vw;
    border-bottom: 1px solid gray;
}

#referralLinks #heading {
    display: block;
    margin: 8px auto;
}

#referralLinks .label {
    display: block;
    margin: 8px auto;
}

#referralLinks input {
    display: block;
    width: 80%;

    padding: 7px;

    outline: none;
    border: 1px inset gray;
}
