#joinInfo {
    width: 100%;
    background-color: #ebebce;
    padding: 5vw 4vw;

    font-size: 3rem;
    word-spacing: 4px;
    text-align: center;
}

#joinInfo span {
    display: block;
    margin-top: 3px;
    font-size: 0.7rem;
    color: #505050;
}

#joinInfo button {
    background-color: #bf7934;
    width: 70%;
    padding: 1vw 0;
    margin-top: 2vw;

    color: #f7f7ff;
    font-size: 1.27rem;
    letter-spacing: 1px;

    border-radius: 10px;
}

#usersInfo {
    width: 100%;
    background-color: #f0f0da;
    padding: 5vh 4vw;

    font-size: 1.55rem;
    word-spacing: 6px;
    text-align: center;
}

#usersInfo div {
    margin: 1.3vh auto;
}

#usersInfo span {
    margin-top: 1.3vh;
    margin-bottom: 1.3vh;

    color: #2d2d59;
    font-size: 1.95em;
    letter-spacing: 3px;
    font-weight: bold;
}

#sponsors {
    background-color: #dae0d5;
    margin: 0 auto;
    padding: 4vw 0;
}

#sponsors > span {
    display: block;
    padding-left: 13px;
    margin-bottom: 6px;
    color: #2f2f2f;
    font-weight: bold;
}

#sponsors #sponsorsLogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#sponsorsLogo div {
    width: 30%;
    text-align: center;
}

#sponsorsLogo img {
    max-width: 65%;
    border-radius: 20%;
}

#loginFormDiv {
    background-color: #f0e8d8;
    padding: 4vw 7vw;
}

#loginFormDiv > span {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
}

#loginFormDiv label {
    display: block;
    margin: 5px 0;
    color: #7c7c7c;
    font-size: 0.95em;
    text-indent: 2px;
}

#loginFormDiv input {
    display: block;
    width: 65vw;
    background-color: #f5f5e6;
    color: #606060;
    text-indent: 5px;
    padding: 4px;
    border: 1px solid #b3b39d;
    margin-bottom: 6px;
    outline: none;
}

#loginFormDiv button {
    background-color: #5f5f99;
    border: 2px solid #4b4b80;
    color: white;
    padding: 4px 8px;
    border-radius: 15%;
}

#loginFormDiv > div:last-child {
    color: #4c4c4c;
    font-size: 0.82em;
    text-align: right;
    margin: 3px 0;
}

@media (min-width: 992px) {
    #joinInfo button {
        width: 40%;
    }
    #joinInfo span {
        font-size: 1rem;
    }
    #usersInfo span {
        font-size: 5vw;
        letter-spacing: 0.4vw;
    }
    #sponsors {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2vw 0;
    }
    #sponsors > span {
        font-size: 1.4rem;
    }
    #sponsorsLogo {
        width: 60%;
    }
    #sponsorsLogo div {
        width: 16%;
        margin-bottom: 4px;
    }
    #sponsorsLogo img {
        max-width: 70%;
    }
    #loginFormDiv form {
        display: flex;
        flex-wrap: wrap;
    }
    #loginFormDiv label {
        width: 30%;
        text-indent: 20px;
    }
    #loginFormDiv input {
        width: 50%;
        text-indent: 10px;
        letter-spacing: 1px;
    }
    #loginFormDiv form > div:last-child {
        width: 80%;
        text-align: right;
        margin-top: 3px;
    }
    #loginFormDiv button {
        padding: 6px 20px;
    }
    #loginFormDiv > div:last-child {
        text-align: left;
        padding-left: 20px;
    }
}

