#userReviews {
    width: 100%;
    background-color: #ededdd;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4vw 0;

    font-size: 1.55rem;
    word-spacing: 2px;
}

#userReviews span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    color: #2f2f2f;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 7px;
}

#userReviews #main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 6vw;
}

#userReviews #main #left, #userReviews #main #right {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#userReviews #main button {
    background-color: #e1ebd3;
    border: 1px solid #c4ccb8;
    border-radius: 50%;
    padding: 3vw;
}

#userReviews .review {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

#userReviews .review img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* object-fit: contain; */
}

#userReviews .review div:first-child {
    width: 30%;
    text-align: center;
}

#userReviews .review div:nth-child(2) {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 0.9em;
    color: #2d2d59;
}

#userReviews .review div:last-child {
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
    overflow-wrap: break-word;
    padding: 3vw;
}

@media (min-width: 992px) {
    #userReviews {
        padding-bottom: 0;
    }

    #userReviews > div {
        width: 70%;
    }
    
    #userReviews #main {
        margin-top: 4vw;
    }

    #userReviews span {
        font-size: 1.3em;
    }

    #userReviews #main button {
        padding: 12px;
    }

    #userReviews .review img {
        width: 80px;
        height: 80px;
    }

    #userReviews .review div:last-child {
        padding: 4vw 5vw;
        font-size: 0.8em;
    }
}